<%= render 'home/navbar' %>

  <div class="section no-pad-bot  " id="index-banner">
    <div class=" container ">
      <br>
        <div class="col s2 center">
          <img src="/assets/sua.png" width="170" > <!-- notice the "circle" class -->
        </div>
      <div class="row center">
        <h4 class="header col s12 light orange-text">Seu Shopping Virtual!</h4>
        <h4 class="flow-text col s12 blue-text">Onde você poderá oferecer produtos e serviços dentro do nosso site. Você cliente ainda conta com o bônus de anuncio dentro do nosso site.</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center">
            <h5 class="light-blue darken-4 white-text"><i class="large material-icons ">gps_fixed</i></h5>
              <a class="btn modal-trigger orange darken-6" href="#modal1">Missão</a>
            </div>


          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
              <div class="center">
            <h5 class="light-blue darken-4 white-text"><i class="large material-icons">visibility</i></h5>
              <a class="btn modal-trigger orange darken-6" href="#modal2">Visão</a>
                </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
              <div class="center">
                <h5 class="light-blue darken-4 white-text"><i class="large material-icons">settings</i></h5>
                <a class="btn modal-trigger orange darken-6" href="#modal3">Valores</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'home/footer' %>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-content">
<div class="modal-content">
<%= render 'home/missao' %>
</div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal modal-content">
<div class="modal-content">
<%= render 'home/visao' %>
</div>
</div>

<!-- Modal Structure -->
<div id="modal3" class="modal modal-content">
<div class="modal-content">
<%= render 'home/valores' %>
</div>
</div>
