<%= render 'home/navbar' %>
<div class="row ri">
  <div class="col col l5 offset-l4 s12">
    <p class="cebter" id="notice"><%= notice %></p>
    <div class="card blue-grey darken-1 ">
      <div class="card-content white-text ">
        <span class="card-title">Contatos</span>

        <p>
          <strong>Name:</strong>
          <%= @contact.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @contact.email %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @contact.phone %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @contact.city %>
        </p>

      </div>
      <div class="card-action center">
        <h4 class="center white-text">Visite Nossa Pagina Inicial</h4>
      </div>
    </div>
  </div>
</div>
